<% if logged_in? %>
    <div class="col-xs-8">
      <%= render 'posts/posts', tasks: @tasks %>
    </div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>  
    </div>
  </div>
  
<% end %>


